

.square {
    background-color:lightblue;
    border: 1px solid darkcyan;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    height: 6rem;
    width: 6rem; 
} 

